/* Google Fonts */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700/Montserrat:400,700');


/* Fonts */

body{
  background-image: url(images/background.jpeg);
  background-size: cover;
}

a:hover {
  color: #9a747b;
}

.container {
  text-align: center;
  margin: 10px auto;
  width: 700px;
}

.video {
  padding-bottom: 20px;
}

.white-card {
  background-color: rgba(255, 255, 255, 0.96);                         /* White background */
  padding: 30px;                              /* Internal space */
  border-radius: 4px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.list-inline{
  list-style-type: none;
}

.list-inline > li {
  display: inline-block;
  padding: 10px;
}

.img {
  width: 300px;
}

.icones {
  color: #e85c5c;
}

#profile-picture {
  border-radius: 50%;
  width: 200px;
}

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  text-decoration: none;
  font-size: 25px;
}

.list-inline-side{
  list-style-type: none;
  padding: 8px;
  margin: 8px;
  line-height: 3em;
  color: white;
  background-color: #fae9e8;
  text-align: center;
  height: 620px;
}

#footer{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
}
